* {
    box-sizing: border-box;
}

body {
    background-color: rgb(1,1,1);
    background: url('https://images4.alphacoders.com/556/556449.jpg')  no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Saira, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px 10px 20px 10px;
}

.stats {
    width: 250px;
    background-color: rgb(26, 26, 26, 0.9);
    border: white solid 2px;
    border-radius: 5px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(2,2,2);
}
/*legend is a question*/
legend {
    font-size: 30px;
    background-color: rgb(26, 26, 26, 0.9);
    border: white solid 2px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 15px;
}

main {
    text-align: center;
}

fieldset {
    border: none;
}
    
input {
    margin-right: 10px;
}

/* answer choices*/
label {
    display: block;
    margin: 10px auto;
    background-color: rgb(26, 26, 26, 0.9);
    font-size: 25px;
    border: white solid 2px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 15px 10px 15px;
}

label:hover {
    background-color:rgb(1,1,1);
    cursor: pointer;
}

label:active, label:focus-within {
    background-color: rgb(240,240,240, 0.9);
    color: rgb(1,1,1);
    border: rgb(1,1,1) solid 2px;
    border-radius: 5px;
}

/*all buttons*/
.button {
    background-color: rgb(26, 26, 26, 0.9);
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.button:hover {
    background-color:rgb(1,1,1);
    cursor: pointer;
}

.button:active {
    background-color: rgb(240,240,240, 0.9);
    color: rgb(1,1,1);
    border: rgb(1,1,1) solid 2px;
    border-radius: 5px;
}

.alert-no-selection {
    color: red;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
}

/*feedback section*/
 .feedback {
     width: 80%;
     font-size: 25px;
     background-color: rgb(26, 26, 26, 0.9);
     border: white solid 2px;
     border-radius: 5px;
     margin: 10px auto;
     padding: 5px 15px;
 }

 .answer-style {
     font-style: italic;
 }

@media only screen and (min-width: 520px) {
    /* For tablets: */
    body {
        padding: 5px 30px 20px 30px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {
        padding: 5px 25% 20px 25%;
    }
}

@media only screen and (min-width: 1600px) {
    /* For ultrawide / high res monitors: */
    body {
      padding: 5px 35% 20px 35%;
      }
  }